extends layout

block content
  h1= title
  p My current reading list : books open at the moment.

  p A very basic Express website developed as a tutorial example on the em Mozilla Developer Network. This website builds on the #em[auth branch] of the Express Local Library Turotial (the undocumented implementation of User Authentication and simple Role-Based Authorization).

  p The last commit in this bracnch is 17 months old, so there will be depency updates to make. Doing a review of the and where possible manula fixes will be a good learning project.

  h1 Statistics

  if error
    p Error getting dynamic content.
  else
    p The library has the following record counts:

    p
      a(href='/catalog/books').btn.btn-primary #[strong Books ]
        span.badge.badge-light !{data.book_count}
    p
      a(href='/catalog/bookinstances').btn.btn-info #[strong Copies ]
        span.badge.badge-light !{data.book_instance_count}
    p
      a(href='/catalog/bookinstances').btn.btn-success #[strong Copies available ]
        span.badge.badge-light !{data.book_instance_available_count} 
    p
      a(href='/catalog/authors').btn.btn-danger #[strong Authors ]
        span.badge.badge-light !{data.author_count}
    p
      a(href='/catalog/genres').btn.btn-warning #[strong Genres ]
        span.badge.badge-light !{data.genre_count}